<!-- customer can view order history/track order status and
can cancel order which is not processed yet in order to track orders -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Order history</title>
  </head>
  <body>
    <div class="logo"><a href="../index.html">iCard</a></div>
    <table>
      <caption>Recent Order</caption>
      <tr>
        <td>Order Date</td>
        <td>Order Number</td>
        <td>Status</td>
        <td>Tracking Details</td>
      </tr>
      <tr>
        <td>Aug 11, 2020</td>
        <td>A12345678</td>
        <td>Shipped</td>
        <td><a href="order_detail.html">View Details</a></td>
      </tr>
      <tr>
        <td>Aug 20, 2020</td>
        <td>A12345679</td>
        <td>Shipped</td>
        <td><a href="order_detail.html">View Details</a></td>
      </tr>
    </table>
  </body>
</html>
