<!-- Customer can register in order to use full features such as buying -->
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>
  <link rel="stylesheet" href="../styles/login.css">
</head>

<body>
  <div><a href="../index.html">iCard</a></div>
  <h1>Create your account</h1>
  <form action="">
    <div class="container">

      <label for="firstname">First Name</label>
      <input type="text" name = "firstname" id="firstname">

      <label for="lastname">Last Name</label>
      <input type="text" name="lastname" id="lastname">

      <label for="email">Email address</label>
      <input type="text" name="email" id="email">

      <label for="password">Password</label>
      <input type="text" name="password" id="password">

      <button>CREATE AN ACCOUNT</button>
      <div>Already have an account?</div>
      <a href="login.html"><button>SIGN IN</button></a>
    </div>

  </form>
</body>

</html>
