<!-- Admin and Customer can login in order to use full features such as buying or perform admin functions-->
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>

  <!-- use google font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- <script src="https://use.fontawesome.com/4d2683cdc4.js"></script> -->
  <link rel="stylesheet" href="../fonts/fontawesome-free-5.14.0-web/css/all.css">
  <link rel="stylesheet" href="../styles/basic.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/login.css">
</head>

<body>
  <header>
    <!-- header top -->
    <div class="header-top-container">
      <div class="cart">
        <a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
      </div>
      <div class="login">
        <a href="order_history.html">Orders</a>
      </div>
      <div class="login">
        <a href="login.html">Login</a>
      </div>
    </div>
    <!-- header menu bar -->
    <div class="header-menu-container">
      <div class="menu-item-logo">
        <h1><a href="../index.html"><span>i</span>Card</a></h1>
      </div>
      <nav class="menu-item">
        <ul>
          <li>
            <div class="dropdown">
              <div>Holidays
                  <i class="fa fa-caret-down"></i>
              </div>
              <div class="dropdown-content">
                <a href="chrismas.html">Chrismas Day</a>
                <a href="newyears.html">New Year's Day</a>
                <a href="mothers.html">Mother's Day</a>
                <a href="fathers.html">Father's Day</a>
                <a href="valentines.html">Valentine's Day</a>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <div>Events
                  <i class="fa fa-caret-down"></i>
              </div>
              <div class="dropdown-content">
                <a href="birthday.html">Birthday</a>
                <a href="graduation.html">Graduation</a>
              </div>
            </div>
          </li>
          <li><a href="#"><i class="fas fa-heart"></i></a></li>
          <li><a href="about_us.html">About&nbsp;Us</a></li>
        </ul>
      </nav>
    </div>
    <div class="tagline">
      <p>Customize your cards with your own words to your special one</p>
    </div>
  </header>

  <main>
    <h2>Create your account</h2>
    <form action="">
      <div class="container">
        <label for="firstname">First Name</label>
        <input type="text" name = "firstname" id="firstname" required>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" id="lastname" required>

        <label for="email">Email address</label>
        <input type="text" id="email" required>
        <label for="password">Password</label>
        <input type="text" id="password" required>
        <button>CREATE AN ACCOUNT</button>
      </div>
    </form>

    <div class="changePage">Already have an account?</div>
    <a href="login.html"><button type="button">SIGN IN</button></a>
  </main>

</body>

</html>
