
.product-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 1em;
}

/* Columns */
.left-column {
  flex: 1.1;
  margin-right:2%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items:flex-end;

}

/* Left Column */

.card-img {
  width: 100%;
  margin: 2%;
  text-align: right;
  box-sizing:border-box;
}

.card-img img{
  object-fit: cover;
  width: 30em;
  height: 20em;
}

.text-template{
  border:2px solid black;
  width: 30em;
  height: 20em;
  position: relative;
}

.text-template .top{
  position: absolute;
  top:1em;
  left:1em;
}

.text-template .body{
  position: absolute;
  top:8em;
  left:5em;
}

.text-template .bottom{
  position: absolute;
  top:18em;
  left:22em;
}

/* Right Column */

.right-column{
  flex:1;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.product-description, .customize{
  height: 20em;
  box-sizing: border-box;
  margin:2%;
  /* border: 2px solid black; */
}

/* Product Description */
.product-description h1 {
  font-weight: 300;
  font-size: 2.0em;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 1.5em;
  font-weight: 300;
  color: #86939E;
}

.product-description i:hover {
  color:var(--favoriate-hover-color);
}

/*To show error message if custom text are blank*/
#message{
  display:none;
  border: 2px solid var(--favoriate-hover-color);
  width: 33em;
  height: 2em;
  text-align: center;
  padding-top:1%;

}

.custom-text{
  margin-bottom: 1.5em;
}

.custom-text .bottom{
  text-align: right;
}

input, textarea{
  margin-bottom: 1.2em;
  display:block;
  font-size:1.2em;
}

textarea{
  resize: none;
}


.buttons{
  margin-top:2%;
  text-align: right;
}
